<template name="newEvent">
<!--    {{#if showCreateDialog}}-->
<div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="newEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
<!--            <span class="sr-only">Close</span>-->
        </button>
        <h4 class="modal-title" id="newEventLabel">Create new event!</h4>
      </div>
      <div class="modal-body">
          <section>
              <form method="post" action="#">
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="title" id="title" placeholder="Event name" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="city" id="city"
                                 placeholder="What's the city name?" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="location" id="location"
                                 placeholder="Location description e.g. trafalgar square" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="meetingPoint" id="meetingPoint"
                                 placeholder="Meeting point, how people will found you?" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="dateEvent" id="dateEvent" class="datepicker"
                                 placeholder="Pick a date of your event!" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <input type="text" name="hyperlink" id="hyperlink"
                                 placeholder="Paste here an external link to the event (e.g. http://focallocal.org)" />
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <div class="select-wrapper">
                              <select name="category" id="category">
                                  <option value="">- Category -</option>
                                  {{#each categories}}
                                      <option value="{{_id}}">{{name}}</option>
                                  {{/each}}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="row uniform half">
                      <div class="12u">
                          <textarea name="description" id="description"
                                    placeholder="Enter description here. Put a translation if you want.
And what are the plans in case of wet weather? :)" rows="6"></textarea>
                      </div>
                  </div>
              </form>
              {{#if errors}}
                <p align="right"><strong>{{errors}}</strong></p>
              {{/if}}
          </section>
      </div>
      <div class="modal-footer">
        <div class="row uniform">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" class="special" value="Publish!" /></li>
                    <li><input type="reset" value="Close" data-dismiss="modal" class="alt" /></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--    {{/if}}-->
</template>
