/** LOGIN BUTTONS */
.login-close-text {
	color: #222222 !important;
}

.search-events {
	color: #646464;
}

/* markers */
.leaflet-result-marker {
	border-radius: 50%;
	border: none;
	opacity: .8;
	background: #0dda00;
}
.leaflet-div-icon {
	border-radius: 50%;
	border: 1px;
	line-height: 30px;
	font-family: FontAwesome, sans-serif;
	text-align: center;
	color: white;
	opacity: .8;
	vertical-align:middle;
}

/* selected marker */
.leaflet-animated-icon {
	border-radius: 50%;
	border: none;
	opacity: .5;
	background: #da0c0b;
	z-index: 50 !important;
}

.leaflet-container a {
	 color: inherit;
}

.leaflet-container a.leaflet-active {
	outline: none;
}

#banner {
	padding: 4em 0 40em 0 !important;
}
body.landing #main {
	margin-top: -42em !important;
}
.leaflet-popup-content {
	font-size: medium;
}