<template name="footer">
    <body>
    <footer id="footer">
        <ul class="icons">
            <li><a href="http://twitter.com/Focallocal" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://www.facebook.com/Focallocal" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="http://focallocal.tumblr.com" class="icon fa-tumblr"><span class="label">Instagram</span></a></li>
            <li><a href="http://www.youtube.com/user/Focallocal" class="icon fa-youtube"><span class="label">Github</span></a></li>
            <li><a href="http://www.pinterest.com/aatfocallocal" class="icon fa-pinterest"><span class="label">Dribbble</span></a></li>
            <li><a href="https://plus.google.com/+AndyFocallocal" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>Made with <span class="fa fa-heart-o"></span> by Focallocal.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
    </body>
</template>