<template name="banner">
<!-- Banner -->
	<section id="banner">
		<h2>Inspire MY City Day #2</h2>
		<p>A Worldwide Guerrilla Positive Inspiration Initiative</p>
		<!--{{> search}}-->
	</section>
</template>	