<template name="home">
    <body>
    {{> header }}
    {{> banner }}

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
          {{> map}}
        </section>

    </section>
    {{> footer}}

    {{> newEvent}}
    </body>
</template>