<template name="search">
    <form class="search-events">
        <ul class="actions large">
            <li class="3u">
                <input type="text" name="search" id="search" placeholder="e.g. pillow fight london" />
            </li>
            <li class="1u">
                <input type="submit" value="Search" class="fit" />
            </li>
        </ul>
    </form>
</template>