<template name="calendar">
    <body>
    {{> header }}
    {{> banner}}
    <section id="main" class="container">
        <section class="box special">
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Event name</th>
                        <th>City</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Organiser</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                      {{#each events}}
                        <tr>
                          <td>{{title}} </td>
                          <td>{{city}} </td>
                          <td>{{location}} </td>
                          <td>{{description}} </td>
                          <td>{{category.name}} </td>
                          <td>{{organiser}} </td>
                          <td title="{{formatDate dateEvent}}">{{fromNowDate dateEvent}}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    {{> footer}}
    </body>
</template>